################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug/net6.0
/.config
/MrGunnChartData.DataLayer/bin/Debug/net6.0
/MrGunnChartData.DataLayer/obj/Debug/net6.0
/MrGunnChartData.DataLayer/obj
/MrGunnChartData.Service/bin/Debug/net6.0
/MrGunnChartData.Service/obj
